# Python
__pycache__/
*.py[cod]
.python-version

# Flask
instance/
.flaskenv
*.db
*.sqlite
*.pyc
*.pyo

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Misc
.DS_Store